# Base de données
DB_HOST=mysql
DB_PORT=3306
DB_NAME=fittrack
DB_USER=fittrack_user
DB_PASSWORD=fittrack_pass
DB_ROOT_PASSWORD=rootpassword

# JWT
JWT_SECRET=change_this_secret_in_production
JWT_EXPIRES_IN=7d

# App
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
